<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Hello .NET Developers Poland!</title>
    <link rel="stylesheet" href="/Content/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">.NET Dev PL</a></li>
            <li><a href="/facebook">Facebook</a></li>
            <li><a href="/blogs">Blogi</a></li>
        </ul>
    </nav>
    <div class="container">
        @this.RenderBody()
    </div>
    <footer></footer>
</body>
</html>
