body {  
    /* Background area */
    background-image: url('../images/cup-of-coffee-1280537_1920.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    width: 100%;
    height: 100%;
}

.container .jumbotron {
    border-radius: 0;
}

.jumbotron {    
    opacity: 0.9;
}

.jumbotron.logo {
    padding: 10em;
    background-image: url('../images/netdevspoland.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: auto;
    height: auto;
}

.navbar {
    border-radius: 0;
}

.alert {
    border-radius: 0;
}

.row .thumbnail {
    border:0;
    border-radius:0;
    opacity: 0.9;
    overflow-y: hidden;
    width: 100%;
}

.equalize-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.equalize {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.icon-success {
    color: green;
}

.icon-fail {
    color: red;
}


