@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NetDevPLWeb.Features.Blogs.BlogListViewModel>

<h1>Lista blogów</h1>

<ul>
    @foreach (var blog in Model.Blogs)
    {
        <li><a href="@blog.Url" target="_blank">@blog.Title</a></li>
    }
</ul>