@using System
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NetDevPLWeb.Features.Facebook.FacebookPostsViewModel>

<div class="jumbotron">
    <h2>Posty</h2>

    @foreach (var post in Model.Posts)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @foreach (var line in post.Content.Split(new[] { "\n\n" }, StringSplitOptions.RemoveEmptyEntries))
                {
                    @line
                    <br />
                }
            </div>
            <div class="panel-footer clearfix">
                <span class="pull-left">@post.CreateDate.ToString("yyyy-MM-dd HH:mm")</span>
                <span class="pull-right">Liczba polubień: <span class="label label-default">@post.Likes</span></span>
            </div>
        </div>
    } 
</div>