@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NetDevPLWeb.Features.Resources.ResourcesViewModel>

<h1>Lista stron z książkami/artykułami/itp do nauki.</h1>

<ul>
    @foreach (var resource in Model.ResourcesList)
    {
        <li><a href="@resource.Url" target="_blank">@resource.Title</a> - @resource.Description</li>
    }
</ul>

