<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>.NET Developers Poland</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified jQuery - this is just for simple purposes like working bootstrap dropdown - bootstrap.js requires jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Pack of social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Custom styles - only for overriding the bootstrap behaviour -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/custom.css">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-84537469-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">.NET Developers Poland</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/blogs">Blogi</a></li>
                <li><a href="/events">Wydarzenia</a></li>
                <li><a href="/groups">Grupy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Media <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/learnOnline">Learn Online</a></li>
                        <li class="divider"></li>
                        <li><a href="/webcasts">Webcasts</a></li>
                        <li class="divider"></li>
                        <li><a href="/resources">Resources</a></li>                
                    </ul>
                </li>
                <li><a href="/contributors">Twórcy strony</a></li>
                <li><a href="/facebook"><span class="fa fa-facebook-official text-info fa-2x"></span></a></li>
                <li><a href="https://github.com/NetDevelopersPoland/NetDevPLWebsite" target="_blank"><span class="fa fa-github fa-2x"></span></a></li>
            </ul>
        </div>
    </nav>
<div class="alert alert-info" role="alert">
    <strong>Chcesz ulepszyć tę stronę?</strong> Cały kod dostępny jest <a href="https://github.com/NetDevelopersPoland/NetDevPLWebsite" target="_blank">tutaj</a>.
    Wystarczy, że sklonujesz sobie repozytorium i później zrobisz pull-requesta (how to: <a href="https://www.youtube.com/watch?v=YTbRzhQju4c" target="_blank">https://www.youtube.com/watch?v=YTbRzhQju4c</a>).
</div>
<div class="container">
    @this.RenderBody()
</div>
<footer></footer>
</body>
</html>
