<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Hello .NET Developers Poland!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">.NET Dev PL</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/facebook">Facebook</a></li>
                <li><a href="/blogs">Blogi</a></li>
                <li><a href="/learnOnline">Learn Online</a></li>
                <li><a href="/webcasts">Webcasts</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/conferences">Nadchodzące konferencje</a></li>
            </ul>
        </div>
    </nav>
<div class="alert alert-danger" role="alert">
    <strong>Chcesz ulepszyć tę stronę?</strong> Cały kod dostępny jest <a href="https://github.com/NetDevelopersPoland/NetDevPLWebsite" target="_blank">tutaj</a>.
    Wystarczy, że sklonujesz sobie repozytorium i później zrobisz pull-requesta (how to: <a href="https://www.youtube.com/watch?v=YTbRzhQju4c" target="_blank">https://www.youtube.com/watch?v=YTbRzhQju4c</a>).
</div>
<div class="container">
    @this.RenderBody()
</div>
<footer></footer>
</body>
</html>
