<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Hello .NET Developers Poland!</title>
    <link rel="stylesheet" href="/Content/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">.NET Dev PL</a></li>
            <li><a href="/facebook">Facebook</a></li>
            <li><a href="/blogs">Blogi</a></li>
            <li><a href="/learnOnline">Learn Online</a></li>
            <li><a href="/resources">Resources</a></li>
        </ul>
    </nav>
    <div id="oss-announce">
        Chcesz ulepszyć tę stronę? Cały kod dostępny jest <a href="https://github.com/NetDevelopersPoland/NetDevPLWebsite" target="_blank">tutaj</a>.
        Wystarczy, że sklonujesz sobie repozytorium i później zrobisz pull-requesta (how to: <a href="https://www.youtube.com/watch?v=YTbRzhQju4c" target="_blank">https://www.youtube.com/watch?v=YTbRzhQju4c</a>).
    </div>
    <div class="container">
        @this.RenderBody()
    </div>
    <footer></footer>
</body>
</html>
