body {
    background: #2870e7;
    color: #fff;
    font-family: Tahoma;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
}

    a:hover {
        color: #888;
        transition: .1s color;
    }

nav ul {
    list-style: none;
    background-color: #444;
    text-align: left;
    padding: 0;
    margin: 0;
}

nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    width: 200px;
    display: inline-block;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .1s background-color;
}

    nav a:hover {
        background-color: #1453B8;
    }

    nav a.active {
        background-color: #fff;
        color: #1453B8;
        cursor: default;
    }

.container {
    margin: 0 50px;
}

.fb-posts {
    border-spacing: 0;
    border-collapse: separate;
}

    .fb-posts tr:not(:last-child) td {
        border-bottom: 2px solid #1453B8;
    }

.fb-item-date {
    text-align: center;
    width: 200px;
}

.fb-item-content {
    line-height: 24px;
}

.fb-item-likes {
    text-align: center;
    width: 100px;
    font-size: 24px;
}
