<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Hello .NET Developers Poland!</title>
    <link rel="stylesheet" href="/Content/style.css">
</head>
<body>
    <div>
        @this.RenderBody()
    </div>
    <footer></footer>
</body>
</html>
