<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gmtl.HandyLib" version="1.0.31" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Mono.Posix" version="4.0.0.0" targetFramework="net452" />
  <package id="Nancy" version="1.4.3" targetFramework="net452" />
  <package id="Nancy.Authentication.Forms" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.SimpleAuthentication" version="0.7.0" targetFramework="net452" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="SimpleAuthentication.Core" version="0.8.0" targetFramework="net452" />
  <package id="WorldDomination.Web.Authentication" version="1.0.1" targetFramework="net452" />
</packages>