@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NetDevPLWeb.Features.Blogs.BlogsViewModel>

@{
    int numberOfBlogItemsToTake = 3;
}

<div class="row equalize-row">
    @foreach (var blog in Model.BlogsList)
    {
        <div class="col-xs-6 col-md-3 equalize">
            <div class="thumbnail">
                <div class="caption">
                    <p>
                        <h4>@blog.Title</h4>
                    </p>
                    @foreach (var blogPost in blog.BlogPosts.Take(numberOfBlogItemsToTake))
                    {
                        <p>
                            <a href="@blogPost.Url" target="_blank">
                                @blogPost.Title
                            </a>
                        </p>
                    }
                </div>
            </div>
        </div>
    }
</div>
<h4 class="thumbnail" style="color: #eee">Last Updated : @Model.LastUpdate</h4>