@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NetDevPLWeb.Features.Conferences.ConferencesListViewModel>

<h1>Lista zbliżających się konferencji, na których warto być</h1>
<div class="list-group">
    @foreach (var conference in Model.Conferences)
    {
        <a href="@conference.Url" class="list-group-item" target="_blank">
            <h4 class="list-group-item-heading">@conference.Title</h4>
            <p class="list-group-item-text">Kiedy? <strong>@conference.When</strong></p>
            <p class="list-group-item-text">Gdzie? <strong>@conference.Location</strong></p>
        </a>
    }
</div>